body {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-family: Arial, Helvetica, sans-serif;
}

.board-row {
  display: flex;
}

.square {
  width: 8rem;
  height: 8rem;
  background: white;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  padding: 0;
}

.board-row:not(:last-child) .square {
  border-bottom: none;
}

.square:not(:last-child) {
  border-right: none;
}

.square:hover {
  background: #f0f0f0;
}
