.welcome-message {
    font-family: poppins;
    font-size: 2rem;
    background-color: aqua;
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
}
.login-request {
    font-family: poppins;
    font-size: 2rem;
    background-color: rgb(255, 0, 0);
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
}